<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gclogs.armyreportsystem.mapper.TokenMapper">

    <insert id="saveRefreshToken">
        INSERT INTO user_tokens (user_id, refresh_token, created_at, updated_at, is_active)
        VALUES (#{user_id}, #{refresh_token}, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP, true)
            ON DUPLICATE KEY UPDATE
             refresh_token = #{refresh_token},
             updated_at = CURRENT_TIMESTAMP,
             is_active = true
    </insert>

    <!-- 사용자의 리프레시 토큰 삭제 -->
    <delete id="deleteRefreshToken" parameterType="string">
        DELETE FROM user_tokens
        WHERE user_id = #{user_id}
    </delete>

    <!-- 리프레시 토큰을 사용하여 사용자 ID 조회 -->
    <select id="findUserIdByRefreshToken" resultType="string">
        SELECT user_id
        FROM user_tokens
        WHERE refresh_token = #{refresh_token}
        AND is_active = true
    </select>

</mapper>