<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gclogs.armyreportsystem.mapper.UserMapper">
    
    <insert id="insert" parameterType="com.gclogs.armyreportsystem.domain.User">
        INSERT INTO User (
            userId, password, rank, role, name, unitName, phoneNumber, email,
            createDate, status
        ) VALUES (
            #{userId}, #{password}, #{rank}, #{role}, #{name}, #{unitName}, #{phoneNumber}, #{email},
            NOW(), #{status}
        )
    </insert>

    <select id="findByUserId" resultType="com.gclogs.armyreportsystem.domain.User">
        SELECT 
            userId, 
            password,
            rank,
            role,
            name,
            unitName,
            phoneNumber,
            email,
            DATE_FORMAT(createDate, '%Y-%m-%d %H:%i:%s') as createdAt,
            status
        FROM User 
        WHERE userId = #{userId}
    </select>

    <select id="existsByUserId" resultType="boolean">
        SELECT EXISTS (SELECT 1 FROM User WHERE userId = #{userId})
    </select>
</mapper>